<% include ./header%>
  
  <body>
    <div class="render-info">
   
    <% if ( !auth ) { %> 
      <img src="/img-colorful-vinyl.jpg">
    <% } else { %>
      <% include ./profile %> 
    <% } %>

    <% if ( albums ) { %>
      <% include ./list-albums%>
    
    <% } if ( reviews ){ %>
      <% include ./list-reviews%>
    
    <% } if ( signin ) { %>
      <% include ./signin%>
    
    <% } if ( signup ) { %>
       <% include ./signup%>
    <% } %>

    </div>
  </body>
  
<% include ./footer%>