<% include ./header%>
  
  <body>
    <div class="render-info">

    <% if ( albums ) { %>
      <% include ./list-albums%>
    
    <% } if ( reviews ){ %>
      <% include ./list-reviews%>
    
    <% } if ( signin ) { %>
      <img src="/img-colorful-vinyl.jpg">
      <% include ./signin%>
    
    <% } if ( signup ) { %>
      <img src="/img-colorful-vinyl.jpg">
      <% include ./signup%>
    <% } %>

    </div>
  </body>
  
<% include ./footer%> 