  <script type="text/javascript" src="/main.js"></script>
  </body>
  <footer>     
  <h3>Basic Full Stack App</h3>
  <h4>Without Cookie Parser or Session NPM</h4>
  <h5>Created by Aaron Villanueva</h5>
  <h5>Email: aarone.villanueva@gmail.com</h5>
  </footer>
</html>