<!DOCTYPE html>
<html lang="en">
  <head>
    <link type="text/css" rel="stylesheet" href="/style.css">
    <nav class="header-nav">
      <ul>
        
        <li><a href="/<%= auth%>"><img src="/img-colorful-vinyl.jpg"></a></li>
        <li><h1>Vinyl</h1></li>

        <div class="header-signs">
            <% if (!auth) { %>
            <li><a href="/signin">Sign In</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <% } else { %>
            <li><a href="/">Sign Out</a></li>
            <% } %>
        </div>
          
      </ul>
    </nav>
  </head>
 