<div class="signin">
<form action="/user" method="post">
<legend>Welcome</legend>
 <ul>
  <li><input type="text" name = "email" placeholder="Email Address"></li>
  <li><input type="text" name = "password" placeholder="Password"></li>
 </ul> 
  <input type="submit" value="Sign In">
</form>
</div>