<form>
<div class="signin">
<form method="post" action="/email-availabilty">
<legend>New User</legend>
<ul class="nav">
  <li><input type="text" name = 'name' placeholder ='Full Name'></li>
  <li><input type="text" name = 'email' placeholder ='Email Address'></li>
  <li><input type="text" name = 'password' placeholder ='Password'></li>
  <li><input type="text" name = 'image' placeholder ='Image URL'></li>
  <li><input type="submit" placeholder ='Sign Up'></li>
<ul>
</form>
</div>
</form>